:root {
  // Headlines
  --heading1: 700 24px/120% NotoSansKR;
  --heading2: 700 20px/120% NotoSansKR;
  --heading3: 500 18px/120% NotoSansKR;

  // Body
  --body: 400 16px/150% NotoSansKR;
  --body-strong: 700 16px/150% NotoSansKR;
  --body-sub: 400 14px/150% NotoSansKR;
  --body-sub-strong: 700 14px/150% NotoSansKR;

  // Meta
  --meta: 400 12px/140% NotoSansKR;
  --meta-strong: 500 12px/140% NotoSansKR;
}
