<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- src/main/resources/mapper/memberMapper.xml -->
<mapper namespace="org.example.mapper.member.MemberMapper">

    <select id="selectMembers" resultType="org.example.model.member.Member">
        SELECT
             *
        FROM
            member
    </select>

    <select id="selectMemberById" resultType="org.example.model.member.Member">
        SELECT
            *
        FROM
            member
        WHERE
            memberId = #{memberId}
    </select>

    <select id="selectMemberIdCheck" resultType="int">
        SELECT
            count(*)
        FROM
            member
        WHERE
            memberId = #{memberId}
    </select>

    <insert id="insertMember" parameterType="org.example.model.member.Member" useGeneratedKeys="true" keyProperty="memberUid">
        INSERT INTO
        member(
            member_name,
            password,
            email,
            mobile)
        VALUES(
            #{memberName},
            #{password},
            #{email},
            #{mobile}
        )
    </insert>

    <insert id="insertMember2">
        INSERT INTO `member`(
            email
            , password
            , cellphone
            , member_name
        )values(
                #{email}
                , #{password}
                , #{cellphone}
                , #{name}
                       )
    </insert>

</mapper>
