<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- src/main/resources/mapper/memberMapper.xml -->
<mapper namespace="org.example.mapper.MemberMapper">

    <select id="selectMembers" resultType="org.example.model.member.Member">
        SELECT
             *
        FROM
            member
    </select>

    <select id="selectMemberById" resultType="org.example.model.member.Member">
        SELECT
            *
        FROM
            member
        WHERE
            memberId = #{memberId}
    </select>

    <insert id="insertMember" parameterType="org.example.model.member.Member" useGeneratedKeys="true" keyProperty="memberUid">
        INSERT INTO
        member(
            member_name,
            password,
            member_id )
        VALUES(
            #{memberName},
            #{password},
            #{memberId}
        )
    </insert>


</mapper>
